# Pandas Groupby

We first need to read the files 2017_german_election_overall.csv and
2017_german_election_party.csv from the german-election-2017 dataset

In [1]:
import pandas as pd

In [2]:
party = pd.read_csv('https://raw.githubusercontent.com/gdv/foundationsCS-2018/master/ex-data/german-election-2017/2017_german_election_party.csv')

In [3]:
overall = pd.read_csv('https://raw.githubusercontent.com/gdv/foundationsCS-2018/master/ex-data/german-election-2017/2017_german_election_overall.csv')

In [49]:
party.head()

,Unnamed: 0,area_id,area_name,state,party,votes_first_vote,votes_second_vote,percentage,differenza
0,1,1,Flensburg – Schleswig,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,68102,58307,3.015860,9795
1,2,2,Nordfriesland – Dithmarschen Nord,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,62260,52933,2.757150,9327
2,3,3,Steinburg – Dithmarschen Süd,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,54812,47367,2.427319,7445
3,4,4,Rendsburg-Eckernförde,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,66625,56584,2.950451,10041
4,5,5,Kiel,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,45691,40011,2.023401,5680

# For each area, compute the total votes of registered voters
We can avoid using dictionaries and loops, leveraging on the functionalities provided by
Pandas.

In [5]:
risultato = overall.groupby('state')['registered.voters'].sum()
risultato.head()

state
Baden-Württemberg    7732570
Bayern               9519914
Berlin               2503053
Brandenburg          2051507
Bremen                474097
Name: registered.voters, dtype: int64

In [6]:
type(risultato)

pandas.core.series.Series

In [7]:
# se voglio creare un dataframe a parte
overall.groupby('state', as_index = False).sum().head()

,state,Unnamed: 0,area_id,registered.voters,total_votes,invalid_first_votes,invalid_second_votes,valid_first_votes,valid_second_votes
0,Baden-Württemberg,10507,10507,7732570,6052863,71310,61507,5981553,5991356
1,Bayern,10787,10787,9519914,7440889,69916,48465,7370973,7392424
2,Berlin,966,966,2503053,1893386,28885,25545,1864501,1867841
3,Brandenburg,605,605,2051507,1512246,23914,21487,1488332,1490759
4,Bremen,109,109,474097,335380,5266,3641,330114,331739

In [8]:
overall.groupby('state', as_index = False).sum()[['state', 'registered.voters']].head()

               state  registered.voters
0  Baden-Württemberg            7732570
1             Bayern            9519914
2             Berlin            2503053
3        Brandenburg            2051507
4             Bremen             474097

In [9]:
risultato.reset_index().head()

               state  registered.voters
0  Baden-Württemberg            7732570
1             Bayern            9519914
2             Berlin            2503053
3        Brandenburg            2051507
4             Bremen             474097

# How many registered voters are there in Bayern or Saarland (compute the voters in each state and the sum of the two numbers)
Using the previous Series, this exercise becomes trivial.

In [10]:
risultato['Saarland'] + risultato['Bayern'] #questa struttura è strana perché solitamente serve per estrarre
#una colonna dal dataframe, invece in questo caso viene usata per estrarre delle righe da una serie
#quindi i comandi sono diversi se sono in un dataframe o in una serie

10297177

# For each state, compute the number of votes (first vote) for each party

In [47]:
party.groupby(['state', 'party']).sum()['votes_first_vote']

state              party
Baden-Württemberg  Ab.jetzt...Demokratie.durch.Volksabstimmung                        0
                   Allianz.Deutscher.Demokraten                                       0
                   Allianz.für.Menschenrechte.Tier..und.Naturschutz                   0
                   Alternative.für.Deutschland                                   689893
                   Bayernpartei                                                       0
                                                                                  ...
Thüringen          UNABHÄNGIGE.für.bürgernahe.Demokratie                              0
                   V.Partei³...Partei.für.Veränderung..Vegetarier.und.Veganer      1204
                   bergpartei..die.überpartei                                         0
                   Ökologisch.Demokratische.Partei                                 5291
                   Übrige                                                          6978
Name: votes_first_vote, Length: 688, dtype: int64

# For each state and each party, compute the area where the party has token the most total votes (first votes)

In [12]:
party.columns

Index(['Unnamed: 0', 'area_id', 'area_name', 'state', 'party',
       'votes_first_vote', 'votes_second_vote'],
      dtype='object')

In [13]:
party.groupby(['state', 'party'])['votes_first_vote'].max() #valore massimo

state              party
Baden-Württemberg  Ab.jetzt...Demokratie.durch.Volksabstimmung                       0
                   Allianz.Deutscher.Demokraten                                      0
                   Allianz.für.Menschenrechte.Tier..und.Naturschutz                  0
                   Alternative.für.Deutschland                                   28574
                   Bayernpartei                                                      0
                                                                                 ...
Thüringen          UNABHÄNGIGE.für.bürgernahe.Demokratie                             0
                   V.Partei³...Partei.für.Veränderung..Vegetarier.und.Veganer     1204
                   bergpartei..die.überpartei                                        0
                   Ökologisch.Demokratische.Partei                                1929
                   Übrige                                                         2318
Name: votes_first_vote, Length: 688, dtype: int64

In [14]:
party.groupby(['state', 'party'])['votes_first_vote'].idxmax() #idxmax mi restituisce la posizione dell'indice

state              party
Baden-Württemberg  Ab.jetzt...Demokratie.durch.Volksabstimmung                    4443
                   Allianz.Deutscher.Demokraten                                   6237
                   Allianz.für.Menschenrechte.Tier..und.Naturschutz               6536
                   Alternative.für.Deutschland                                    2060
                   Bayernpartei                                                   4144
                                                                                 ...
Thüringen          UNABHÄNGIGE.für.bürgernahe.Demokratie                         12447
                   V.Partei³...Partei.für.Veränderung..Vegetarier.und.Veganer    10060
                   bergpartei..die.überpartei                                     6766
                   Ökologisch.Demokratische.Partei                                3477
                   Übrige                                                        12748
Name: votes_first_vote, Length: 688, dtype: int64

In [48]:
party.loc[party.groupby(['state', 'party'])['votes_first_vote'].idxmax()].head()

,Unnamed: 0,area_id,area_name,state,party,votes_first_vote,votes_second_vote,percentage,differenza
4443,4444,258,Stuttgart I,Baden-Württemberg,Ab.jetzt...Demokratie.durch.Volksabstimmung,0,0,0.000000,0
6237,6238,258,Stuttgart I,Baden-Württemberg,Allianz.Deutscher.Demokraten,0,0,0.000000,0
6536,6537,258,Stuttgart I,Baden-Württemberg,Allianz.für.Menschenrechte.Tier..und.Naturschutz,0,203,0.000000,-203
2060,2061,267,Heilbronn,Baden-Württemberg,Alternative.für.Deutschland,28574,30088,0.369528,-1514
4144,4145,258,Stuttgart I,Baden-Württemberg,Bayernpartei,0,0,0.000000,0

In [16]:
#verifico incrociando due condizioni
party[(party['party']=='Alternative.für.Deutschland')&(party['state']=='Baden-Württemberg')]['votes_first_vote'].max()

28574

# For each party, compute the area where the party has taken the most and the least votes (First vote), as a percentage of the overall registered voters in the state
Scrivere una funzione 'calcola perc' che riceve una riga di 'party' e calcola la percentuale relativa di 'votes_first_vote' rispetto al totale dei votanti registrati. Quest'ultima informazione la trovo nella serie 'risultato'.

In [17]:
#creo solo la definizione, il fatto che non sia party[riga['votes_first_vote']] è perché dopo lo applico esplicitamente su party
def calcola_perc(riga):
    return riga['votes_first_vote'] / risultato[riga['state']] * 100

#versione più lunga
#def calcola_perc(riga):
    #stato = riga['state']
    #numero = risultato[stato]
    #return riga['votes_first_vote'] / numero * 100

In [45]:
party['percentage'] = party.apply(calcola_perc, axis=1)
party.head()

,Unnamed: 0,area_id,area_name,state,party,votes_first_vote,votes_second_vote,percentage,differenza
0,1,1,Flensburg – Schleswig,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,68102,58307,3.015860,9795
1,2,2,Nordfriesland – Dithmarschen Nord,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,62260,52933,2.757150,9327
2,3,3,Steinburg – Dithmarschen Süd,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,54812,47367,2.427319,7445
3,4,4,Rendsburg-Eckernförde,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,66625,56584,2.950451,10041
4,5,5,Kiel,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,45691,40011,2.023401,5680

In [44]:
#una versione più compatta di tutta la definizione (quando abbastanza semplice)
#lambda serve per dire -> Ehi! Guarda che la funzione la scrivo qui dentro subito
party['percentage'] = party.apply(lambda riga: riga['votes_first_vote'] / risultato[riga['state']] * 100, axis=1)
party.head()

,Unnamed: 0,area_id,area_name,state,party,votes_first_vote,votes_second_vote,percentage,differenza
0,1,1,Flensburg – Schleswig,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,68102,58307,3.015860,9795
1,2,2,Nordfriesland – Dithmarschen Nord,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,62260,52933,2.757150,9327
2,3,3,Steinburg – Dithmarschen Süd,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,54812,47367,2.427319,7445
3,4,4,Rendsburg-Eckernförde,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,66625,56584,2.950451,10041
4,5,5,Kiel,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,45691,40011,2.023401,5680

In [20]:
#dove si verifica il minimo per ogni partito
party.groupby('party')['percentage'].idxmin().head()

party
Ab.jetzt...Demokratie.durch.Volksabstimmung         4186
Allianz.Deutscher.Demokraten                        5980
Allianz.für.Menschenrechte.Tier..und.Naturschutz    6279
Alternative.für.Deutschland                         1817
Bayernpartei                                        3887
Name: percentage, dtype: int64

In [21]:
party.loc[party.groupby('party')['percentage'].idxmin()].head()

,Unnamed: 0,area_id,area_name,state,party,votes_first_vote,votes_second_vote,percentage
4186,4187,1,Flensburg – Schleswig,Schleswig-Holstein,Ab.jetzt...Demokratie.durch.Volksabstimmung,0,0,0.0
5980,5981,1,Flensburg – Schleswig,Schleswig-Holstein,Allianz.Deutscher.Demokraten,0,0,0.0
6279,6280,1,Flensburg – Schleswig,Schleswig-Holstein,Allianz.für.Menschenrechte.Tier..und.Naturschutz,0,0,0.0
1817,1818,24,Aurich – Emden,Niedersachsen,Alternative.für.Deutschland,0,12875,0.0
3887,3888,1,Flensburg – Schleswig,Schleswig-Holstein,Bayernpartei,0,0,0.0

# For each area, compute the difference between the valid first votes and the valid second votes

In [26]:
totali = overall.groupby('area_id').sum()[['valid_first_votes', 'valid_second_votes']]
totali.head()

         valid_first_votes  valid_second_votes
area_id
1                   170258              170396
2                   137901              138075
3                   130883              130875
4                   156102              156268
5                   149806              150173

In [43]:
totali['differenza'] = totali['valid_first_votes'] - totali['valid_second_votes']
totali.head()

         valid_first_votes  valid_second_votes  differenza
area_id
1                   170258              170396        -138
2                   137901              138075        -174
3                   130883              130875           8
4                   156102              156268        -166
5                   149806              150173        -367

# For each state, compute the difference between the valid first votes and the valid second votes

In [29]:
overall['differenza'] = overall['valid_first_votes'] - overall['valid_second_votes']
overall.head()

,Unnamed: 0,area_id,area_names,state,registered.voters,total_votes,invalid_first_votes,invalid_second_votes,valid_first_votes,valid_second_votes,differenza
0,1,1,Flensburg – Schleswig,Schleswig-Holstein,225659,171905,1647,1509,170258,170396,-138
1,2,2,Nordfriesland – Dithmarschen Nord,Schleswig-Holstein,186384,139200,1299,1125,137901,138075,-174
2,3,3,Steinburg – Dithmarschen Süd,Schleswig-Holstein,175950,132016,1133,1141,130883,130875,8
3,4,4,Rendsburg-Eckernförde,Schleswig-Holstein,199632,157387,1285,1119,156102,156268,-166
4,5,5,Kiel,Schleswig-Holstein,204650,151463,1657,1290,149806,150173,-367

In [41]:
overall.groupby('state').sum()['differenza'].head()

state
Baden-Württemberg    -9803
Bayern              -21451
Berlin               -3340
Brandenburg          -2427
Bremen               -1625
Name: differenza, dtype: int64

# For each party, compute the difference between the valid fitst votes and the valid second votes

In [36]:
party['differenza'] = party['votes_first_vote'] - party['votes_second_vote']
party.head()

,Unnamed: 0,area_id,area_name,state,party,votes_first_vote,votes_second_vote,percentage,differenza
0,1,1,Flensburg – Schleswig,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,68102,58307,3.015860,9795
1,2,2,Nordfriesland – Dithmarschen Nord,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,62260,52933,2.757150,9327
2,3,3,Steinburg – Dithmarschen Süd,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,54812,47367,2.427319,7445
3,4,4,Rendsburg-Eckernförde,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,66625,56584,2.950451,10041
4,5,5,Kiel,Schleswig-Holstein,Christlich.Demokratische.Union.Deutschlands,45691,40011,2.023401,5680

In [39]:
party.groupby('party').sum()['differenza'].head()

party
Ab.jetzt...Demokratie.durch.Volksabstimmung          -3579
Allianz.Deutscher.Demokraten                        -41178
Allianz.für.Menschenrechte.Tier..und.Naturschutz    -32218
Alternative.für.Deutschland                        -560999
Bayernpartei                                          4604
Name: differenza, dtype: int64

# For each area and each party, compute the difference between the first votes and the second votes

In [42]:
party.groupby(['state', 'party']).sum()['differenza'].head()

state              party
Baden-Württemberg  Ab.jetzt...Demokratie.durch.Volksabstimmung             0
                   Allianz.Deutscher.Demokraten                            0
                   Allianz.für.Menschenrechte.Tier..und.Naturschutz   -13498
                   Alternative.für.Deutschland                        -40372
                   Bayernpartei                                            0
Name: differenza, dtype: int64